.cards-maturity {
    background-color: var(--secondary-color);
    min-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
}

.cards-maturity__title {
    text-align: center;
    padding: 55px;
    font-size: 22px;
    color: var(--primary-color);
     color: var(--primary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cards-maturity__content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
}

.cards-maturity__content-step {
    margin: 20px;
    max-width: 350px;
    background-color: var(--ternary-color);
    border-radius: 20px;
    flex: 1;
    color: var(--primary-color);
}

.cards-maturity__content-step img {
    width: 100%;
    height: auto;
    padding: 20px;
}

.cards-maturity__content-step p {
    padding: 20px 35px 40px 35px;
    line-height: 24px;
    font-style: italic;
    font-size: 20px;
}
