.card-check {
    background-color: var(--secondary-color);
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.card-check_card-display {
    flex: 50%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 35px;
    padding-top: 5em;
}

.card-check_card-display textarea {
    width: 6em;
    height: 16em;
    margin: 0%;
}

.card-check_card-display p {
    color: var(--primary-color);
}

.card-check_card-list {
    flex: 50%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 3em;
    font-family: var(--my-font);
    align-items: center;
    overflow: hidden;
    gap: 20px;
}

.card-check_card-list h1 {
    flex-shrink: 0;
    margin-top: 2em;
    color: var(--my-font);
    font-size: 25px;
}

.card-check_card-list div {
    flex-shrink: 0;
}

.no-deck-message {
    flex: 1;
    align-content:center;
    justify-self: center;
}

.icon, .valid {
    width: 25px;
    margin-left: 15px;
    vertical-align:text-bottom;
}

.icon:hover, .valid:hover {
    width: 27px;
    cursor: pointer;
    margin-left: 13px;
}

.edit-name {
    background-color: white;
    width: 12em;
    padding: 10px;
    border-radius: 4px;
    border-width: thin;
}

.deck-select {
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    width: 12em;
}

.search-bar {
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    position: relative;
    align-self:self-start;
    margin-left : 10px;
    border-width: thin;
    background-color: white;
}

.card-display {
    width: 100%;
    flex: 1;
    background-color: var(--primary-color);
    overflow-y: scroll;
}

.card {
    display: flex;
    position: relative;
    flex-direction: row;
    text-align: center;
    align-items: center;
    max-height: 34px;
    overflow: hidden;
    border-style: solid;
    border-width: thin;
    border-left: transparent;
    border-bottom: transparent;
    border-color: var(--secondary-color);
}

.card:hover {
    background-color: white;
}

.card.active {
    border: solid 1px;
    border-top-width: 2px;
    border-color: var(--secondary-color);
    background-color: white;
}

.card-display p {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 50px 10px 40px;
    flex: 1;
    border-left: solid;
    border-color: var(--primary-color);
    border-width: thin;
    font-family: var(--my-font);
    font-size: 12px;
}

.delete-card-button {
    position:absolute;
    left: 95%;
    padding: 5px 8px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 10px;
}

.delete-card-button:hover {
    background-color: var(--ternary-color);
}

.default-button.inactive {
    background-color: rgb(126, 83, 83);
    color: rgb(194, 181, 181);
}

.default-button.inactive:hover {
    background-color: rgb(126, 83, 83);
    color: rgb(194, 181, 181);
    cursor:default;
}
